fastapi==0.111.0
uvicorn[standard]==0.29.0
langchain==0.2.6
langchain-community==0.2.6
langchain-huggingface==0.0.3
sentence-transformers==3.0.1
faiss-cpu==1.8.0
transformers==4.42.3
torch==2.3.1
accelerate==0.31.0
python-multipart==0.0.9
python-dotenv==1.0.1
numpy==1.26.4